@charset "UTF-8";

/* 헤더 패딩 안먹길래 걍 추가 */
.inner {
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    padding: 0 2.5em;
}

h1{
	font-size: 1.8em !important;	
}
h2{
	font-size: 1.3em !important; 
}

.individual_wrapper{
	padding: 0.8em 0.5em 0.5em;
	border: double thick;
	border-color:  gray;
}
	

