@charset "UTF-8";

/* 헤더 패딩 안먹길래 걍 추가 */
.inner {
    width: 100%;
    margin: 0 2em;
    padding: 0 2.5em;
    color: dimgrey;
}

.content_wrapper{
	padding-left: 1em;
}

h1{
	font-size: 1.8em !important;
	font-weight: 500 !important;	
	margin: 0 0 0.5em 0 !important;
}
h2{
	font-size: 1.3em !important;
	font-weight: 300 !important;
}

.individual{
	display: inline-block;
}

ol, ul, li {
    list-style: none;
}

.head li:first-child {
    margin-left: 0;
}

.head li {
    float: left;
    position: relative;
    width: 172px;
    height: 172px;
    margin: 0 0 80px 49px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0.9em;
    font-weight: 550;
    color: white;
    text-align: center;
}

.li_01{
	background-color: #f2849e;
}

.li_02{
	background-color: #7ecaf6;
}

.li_03{
	background-color: #7bd0c1;
}

.li_04{
	background-color: #c75b9b;
}

.li_05{
	background-color: #ae85ca;
}


.head {
    position: relative;
    padding: 0 22px 100px;
    border-bottom: 1px solid #e2e2e2;
    height: 150px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-top: 3em;
}

.head .num {
    display: block;
    padding: 2em 0 1em;
    font-size: 1.2em;
    font-weight: 800;
}

.head .arr {
    position: absolute;
    top: 82px;
    right: -1.7em;
    width: 0.8em;
    height: 1.8em;
    background-image: url("../../../resources/images/chevron-right.png") ;
    background-repeat: no-repeat;
    background-size:contain;
}
.individual_wrapper_02>ul>li{
	margin-left: 7em;
}

.individual_wrapper_02 .head .arr {
    position: absolute;
    top: 82px;
    right: -4.75em;
    width: 0.8em;
    height: 1.8em;
    background-image: url("../../../resources/images/chevron-right.png") ;
    background-repeat: no-repeat;
    background-size:contain;
}

*, *:before, *:after {
    box-sizing: content-box;
}

/* main 에 잡혀있는거 풀기위해서 */
ul li {
    padding-left: 0em !important;
}


/* 내부스타일시트에서는 미디어쿼리 안듣나? */
@media screen and (max-width:480px){
	.head li {
	    float: left;
	    position: relative;
	    width: 100px;
	    height: 100px;
	    margin-left: 29px;
	    border: 1px solid #3c3c3c;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    font-size: 1vw;
	    font-weight: 400;
	    color: #3c3c3c;
	    text-align: center;
	}

}
