@charset "UTF-8";

h1{
	align-items: center;
	text-align: center;
	margin: 0;
}

#contentBox{
	width: 75%;
}

.contentBox{
	width: 75%;
	height: 100%;
    background: #fff;
    margin: 4rem auto;
    padding: 60px;
}

.formBox{
	display: flex;
	justify-content: center;
	width: 100%;
}

.form{
	width: 80%;
}

.formBox>form{
	width: 80%;
	color: black;
	padding: 3.2em;
}

.label{
	/* font-size: 3.5vh; */
	
	display: flex;
	text-align: center;
}

.formWrap{
	display:flex;
	width: 100%;
	align-items: center;
	padding-bottom: 40px;
	font-size: 3.5vh;
}

.label{
	display: flex;
	width: 30%;
	margin: 0;
	align-items: center;
	font-size: 3.5vh;
}

.input{
	display: flex;
	width: 70%;
	font-size: 3.5vh;
}

.submit>button{
		width: 100%
}

.submit{
	width: 100%;
	flex:auto;
	padding-top: 0;
	padding-bottom: 40px;
	font-size: 3.5vh;
}


/* header */
.inner {
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    padding: 0 2.5em;
}

/* footer */
.footersection{
   padding-left: 3vw;
}




/* 미디어쿼리 */
@media screen and (max-width: 480px){
	/* footer */
	.footersection{
   		padding-left: 5vw;
   }
   
	/* web이랑 글자크기 다름 */
	.contentBox{
		width:100%;
		padding: 0;
	}	
    
    .formWrap > *{
		display:flex;
		width: 100%;
		align-items: center;
		padding-bottom: 20px;
		font-size: 1.5vh;
	}
		
	.formId label{
		font-size: 1.5vh;
		padding-bottom: 0;
	}
	
	.formPw label{
		font-size: 1.5vh;
		padding-bottom: 0;
	}
	
	#formId,#formPw{
		font-size: 1.5vh;
	}
	
	
	.formId,.formPw{
		width: 100%;
	}
	
	.formWrap>label{
		width: 35%;
	}
	
	.formWrap>input{
		width: 55%;
	}
	
	#font{
		font-size: 1.5vh;
	}

/* web이랑 padding 간격 다름 */
    .submit{
    	padding-top: 0;
    	padding-bottom: 20px;
    }
    
    .submit button{
    	font-size: 1.5vh;
    }
    
    
}
    


