<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.eyes.board.model.repository.BoardRepository">
	<!-- 1. 게시글 등록
		2. 게시글 수정 -->
	<insert id="insertFile">
	insert into file(f_idx, f_type_idx, f_origin_name, f_re_name, f_save_path) 
	values(sc_f_idx.nextval, 
		<choose>
			<when test="fTypeIdx != null">
				#{fTypeIdx}, 
			</when>
			<otherwise>
				'b'||sc_sug_idx.currval, 
			</otherwise>
		</choose>
		#{fOriginName}, #{fReName}, #{fSavePath})
	</insert>
	<select id="selectBoardList" resultType="board">
		select sug_idx, sug_title, sug_reg_date, user_id 
		from(
			select rownum rnum, b.*
			from(
				select sug_idx, sug_title, sug_reg_date, user_id 
				from user_suggest
				order by ${sort} ${direction}
			) b
		) where rnum between #{queryStart} and #{queryEnd}
	</select>
</mapper>